{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["@typescript-eslint", "react"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [".eslintrc.js", "webpack.*.js", "jest.config.js"],
  "rules": {
    "semi": 0
  },
  "env": {
    "browser": true
  }
}
